/* styles.css */

body {
    background-color: #121212; /* Color de fondo oscuro */
    color: #FFFFFF; /* Color del texto */
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

#container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

/* Agrega esto en el archivo styles.css */
#search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input {
    padding: 8px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #444;
    background-color: #1E1E1E;
    color: #FFFFFF;
}


.movie-card {
    border: 1px solid #444; /* Cambia el color del borde */
    padding: 8px; /* Reduce el padding */
    margin: 10px;
    width: calc(25% - 20px); /* Ajusta el ancho para mostrar 4 películas por fila */
    box-sizing: border-box; 
    background-color: #1E1E1E; /* Color de fondo de la tarjeta */
}

#movie-title {
    font-size: 1rem; /* Reduce el tamaño del título */
    margin: 8px 0; /* Reduce el margen del título */
}

#movie-overview {
    font-size: 0.8rem; /* Reduce el tamaño del resumen */
    margin-bottom: 8px; /* Reduce el margen inferior del resumen */
}

#movie-card, img {
    max-width: 100%;
    height: auto;
}
